.registerContainer {
    // width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .backButton {
        margin-bottom: 20px;
        vertical-align: middle;
        position: relative;
        left: -13em;
    }
}