.segment {
    min-width: 100px;
    .title {
        background-color: #f1f0f0;
        padding: 14px;
        border-bottom: 2px solid #ececec;
        display: flex;
        justify-content: space-between;

        .titleText {
            font-weight: bold;
            font-size: 1.6em;
        }

        .closeButton {
            display: flex;
            align-items: center;
            cursor: pointer;
            .icon {
                font-size: 1.6em;
            }
        }
    }
    .content {
        background-color: #fdfdfd;
    }
    .actionsWrapper {
        background-color: #eeeeee;
        .actionItem {}
    }
    .container {
        padding: 13px;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        flex: 1;
    }
}